body{
    background-color: black;
}
h1 {
    color: red;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
}

p {
    text-align: justify;
    line-height: 1.5;
    color: white;
}

.titulo {
    text-align: center;
    font-family: Lato;
    font-size: 50px;
    color: lightseagreen;
}

.articulo1 {
    border: 5px dotted lightskyblue
}

.articulo2 {
    border: 5px dashed lightgreen
}

.articulo3 {
    border: 5px double lightgray

}

.articulo4{
    border: 5px groove #007bff
}
